.maincontainer{
    width:auto;
    height:auto;
    background-color:burlywood;
    margin:0px auto;
    border: 1px solid red;
}
.header{
    width:100%;
    height: 15%;
    background-color: azure;
}
.middlecontainer{
    width:100%;
    height:85%;
    background-color: deepskyblue;

    
}
.middlecontainer div{
display: inline-block;
}
.middlediv1{
    height:100%; 
    width:20%;
    background-color:mediumpurple;
}
.middlediv2{
    width: 79.7%;
    height: 100%;   
    background-color: salmon;
}

     