*{
font-family: arial;
margin:0px auto;
}
.container{
width:100%;
    height:100%;
border:0px solid black;
margin:0px auto;
}
.header{
    width:100%;
    height:auto;
    border:0px solid black;
    margin:0px auto;
}
.middle{
    width:100%;
    height:auto;
    border:0px solid black;
}
.logocontainer{
    width: 25%;
    height:98px;
    border:0px solid black;
    float: left;
    display: inline-block;
    background-color:#027cd5;;
    
}
.searchbarcontainer{
    width:40%;
    height:98px;
    border:0px solid black;
    float:middle;
    display: inline-block;
    background-color:#027cd5;;

}
.buttoncontainer{
    width: 35%;
    height:98px;
    border:0px solid black;
    float:right;
    display: inline-block;
    background-color:#027cd5;;
}


.button1{
height:50px;
 border:0px solid black;
    width:40%;
    border:0px solid black;
    display:inline;
    flaot:left;
    margin-left: 50px;
    font-size: 60px;
    padding-left: 50px;
   
}
.button2
{ 
    height:50px;
    border:0px solid black;
    width:40%;
    border:0px solid black;
    display:inline;
    flaot:right;
    margin-left: 70px;
    font-size: 60px;

}
    
.menubar{
    width:100%;
    height:auto;
    border:0px solid black;
    color:azure;
}

.websiteTitle-wrapper
{ 
    float:left;
    width: 82.3%;
    height: 50px;
    color:azure;
   
}
.titleText
{
    color:azure;
    font-family: cursive;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.boxtest{
    width: 350px;
    text-align: center;
    margin-top: 24px;
    margin-left: 89px;    height: 35px;
}
.buttontest{
    width:330px;
    height:40px;
    font-size:20px;
}
.footer
{
    width:100%;
    height:auto;
    border:0px solid black;
    margin-top: 520px;
    background-color: white;
}
.container2{
    
    width: 100%;
    height:98px;
    border:0px solid black;
    display: inline-block;
    margin: -7px auto;
}
.buttonbar{
    width:300px;
    height:40px;
    
    border:0px solid black;
}
.menubar ul li {
    display: inline;
margin: 0px 130px;
    
}
.menubar ul li a:hover {
        color: black;
    }
}
.formdiv{
    width: 500px;
    height: auto;
    border:0px solid black;
    margin:10px  auto;
    background-color:lightyellow;
}
.messagediv{
    width:100%;
    height:70px;
    border:1px solid red;
    margin :0px auto;
    text-align: center;
    font-family: cursive;
    background-color:#027cd5;;
    color: azure;
}
.inputdiv{
    width:500px;
    border: 0px solid black;
    margin: 0px auto;
    height:40px;
    margin-top: 15px;
    text-align: center;
}
.formatting{
    width:100%;
    padding: 7px;
    font-size: 20px;
    border-radius: 8px;
}
 
.inputbox{
    text-align:left;
    padding-left: 10px;
    border: 0px solid black;
    font-size: 23px;
}
.buttonediting{
    padding: 13px 67px;
    margin-left: 159px;
    background-color: #027cd5;
    font-size: 20px;
    margin-bottom: 10px;
    color:azure;
}
.menubar ul li a{
text-decoration: none;
    font-size: 20px;
    color:white;
    
}
.editing{
    padding: 10px 34px;
    color: white;
    box-shadow: 0px 1px 6px 8px #027cd5;
    background-color: #006cb4;
    border: 1px solid #24609c;
}
.searchbarcontainer img{
    float: right;
    margin-right: 54px;
    margin-top: 26px;
}
.searchicon{
    float: right;
    margin-right: 61px;
    margin-top: 21px;
}
.menubar ul{
    padding: 14px;
    background-color:#006cb4;
    margin: 0px auto;
}
.iconimage{
    background: url("search-bt.png") no-repeat 0 -202;
}
.buttonformat{
    margin: 30px 140px;
    padding: 8px 26px;
    border-radius: 7px;
    font-size: 20px;
    background-color: rgb(0, 108, 180);
    color: white;
    border: 1px solid rgb(0, 108, 180);
}
.twobutton{
    display: inline-block;
    
}
#abcd{
    background-color: lightblue;
}
/*--------------------------------------------------------login form styling---------------------------------------------------*/
.bodylogin {
    background: #e9e9e9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.form {
    position: relative;
    background: #ffffff;
    width: 285px;
    margin: 40px auto 0;
    padding: 40px;
    border-top: 5px solid #33b5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    float: left;
    margin: 11px;
}
.form .switch {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: #33b5e5;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    -webkit-border-radius: 0 3px 0 3px;
    -moz-border-radius: 0 3px 0 3px;
    border-radius: 0 3px 0 3px;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}
.form .switch .tooltip {
    position: absolute;
    top: 5px;
    right: -65px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}
.form .switch .tooltip:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form .register {
    display: none;
}
.form h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #33b5e5;
    font-size: 18px;
    font-weight: 400;
}
.form .alert {
    position: relative;
    background: #f3f3f3;
    color: #666666;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: left;
}
.form .alert .fa-times-circle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-top: -8px;
    float: right;
}
.form input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ccc;
    font-family: "Roboto";
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-wieght: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.form input:focus {
    color: #333333;
    border: 1px solid #33b5e5;
}
.form button {
    cursor: pointer;
    background: #33b5e5;
    width: 49%;
    padding: 10px 15px;
    margin-bottom: 25px;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.form button:hover {
    background: #1a9bcb;
}
.form footer {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    margin: 0 0 -40px -40px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    color: #666666;
    font-size: 12px;
    text-align: center;
}
.form footer a {
    color: #333333;
    text-decoration: none;
}
.info {
    width: 300px;
    margin: 25px auto;
    text-align: center;
}
.info h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}
.info span {
    color: #666666;
    font-size: 12px;
}
.info span a {
    color: #000000;
    text-decoration: none;
}
.info span .fa {
    color: #33b5e5;
}
.info span .spoilers {
    color: #999999;
    margin-top: 5px;
    font-size: 10px;
}
.mddivcontainer{
    height: auto;
    width: 1300px;
    background-color: lightskyblue;
}
.mddiv{
    width: 922px;
    height: 347px;
    background-color: azure;
    margin: 191px;
}
.internaldiv{
    height: 346px;
    width: 305px;
    background-color: aquamarine;
    display: inline-block;
    float: left;
    margin: 1px;
}
.abc{
    text-align: center;
    color:white;
    text-shadow: 2px 2px 4px blue;
}


/*-------------------------------------------------reset code-------------------------------------------------*/
/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*/



/*--------------------------------------------------------end of reset code-------------------------------------------*/
/*-------------------------------------------------------end of login form------------------------------------------------------*/






